body{
  background-image: url("../../img/background.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto;
  background-color: #F4F5F9;
}

.container{
  margin: 170px 0 0 12.45%;
}
